// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top{
  display: flex;
  justify-content: space-between;
}




table{
  table-layout: fixed;
  width: 80%;
  border: 1px solid black;
}

th{
  background-color: gray;
}

th,td{
  border: 1px solid black;
}

.total{
  width: 20%;
  border: 1px solid black;
}