<table class='table table-hover table-striped table-inverse'style="background-color:gainsboro;">
  
  <thead>
    <tr>
      <th nowrap>会員ID</th>
      <th nowrap>氏名</th>
      <th></th><th></th><th></th>
      <th nowrap>メールアドレス</th>
      <th nowrap>ステータス</th>
    </tr>
  </thead>
  
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td nowrap><%= customer.id %></td>
        <td nowrap><%= link_to customer.full_name,admin_customer_path(customer.id),class: "text-dark"%></td>
        <td></td><td></td><td></td>
        <td nowrap><%= customer.email %></td>
        <td><%= customer.is_deleted %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>