<table class='table table-hover table-inverse'style="background-color:gainsboro;">
  
  <thead>
    <tr>
      <th nowrap>購入日時</th>
      <th nowrap>購入者</th>
      <th nowrap>注文個数</th>
      <th nowrap>注文ステータス</th>
    </tr>
  </thead>
  
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td nowrap><%= link_to order.created_at ,admin_order_path %></td>
        <td><%= customers.last_name.first_name %></td>
        <td><%= order_items.amount %></td>
        <td><%= order.order_status %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>