      <div class="grid">
        <% items.each do |items| %>
        <div>
          <%= image_tag items.get_image(100,100) %><br>
          <%= link_to public_item_path(items) do %><%= items.name %><% end %><br>
          <%= items.tax_free_price %>
        </div>
        <% end %>
      </div>
