<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div><!--ジャンル検索欄(部分テンプレート挿入部分)!-->
    <div class="col-md-10"><!--以下商品一覧部分!-->
      <h1 style="display:inline;"><strong>商品一覧</h1>(全<%=@items.count%>件)</strong>
      <%= @items.each do |items| %>
      

    </div>
  </div>
</div>
